<p>admin works!</p>

<div class="table_wrap">
<table class="table table-light table-bordered w-100 rounded-top">
<thead>
    <tr>
        <th class="text-primary" scope="col">DOCTOR USER NAME</th>
        <th class="text-primary" scope="col">EMAIL</th>
        <th class="text-primary" scope="col">FIRST NAME</th>
        <th class="text-primary" scope="col">LAST NAME</th>
        <th class="text-primary" scope="col">GENDER</th>
        <!-- <th class="text-primary" scope="col">PASSWORD CLEAR</th>
        <th class="text-primary" scope="col">PASSWORD</th>
        <th class="text-primary" scope="col">HASHKEY</th> -->
    </tr>
</thead>
<tbody>
    <tr *ngFor="let doctor of doctors">
        <td>{{doctor.id}}</td>
        <td>{{doctor.email}}</td>
        <td>{{doctor.firstName}}</td>
        <td>{{doctor.lastName}}</td>
        <td>{{doctor.gender}}</td>
        <!-- <td>{{doctor.passwordclear}}</td>
        <td>{{doctor.password}}</td>
        <td>{{doctor.hashkey}}</td> -->
        <td><button type="button" class="btn btn-primary btn-lg btn-block" (click)="acceptDoctorRequest(doctor)">Accept</button></td>
        <td><button type="button" class="btn btn-primary btn-lg btn-block" (click)="deleteDoctorRequest(doctor)">Reject</button></td>
    </tr>
</tbody>
</table>
</div>
